@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto:400,400i,700,700i&display=swap');

body {
    background-color: #F0F0F0
}

section {
    /* width: 100%; */
    height: 900px
}

/* home section */
.home {
    background: url(assets/home-backgroung.jpg);
    background-size: 100% 100%;
    margin: auto;
    display: block;
    object-fit: contain;
    color: #C0C0C0;
}

.header {
    width: 100%;
    height: 100px;
}

/* Rectangle */
.rectangle {
    float: right;
    margin-top: 50px;
    width: 40%;
    height: 50px;
    vertical-align: middle;
    background: rgba(177, 98, 65, 0.5);
}

.rectangle-corner {
    float: right;
    margin-top: 50px;
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent; 
    border-right: 40px solid rgba(177, 98, 65, 0.5); 

}

.space {
    width: 100%;
    height: 400px;
}

.content {
    width: 100%;
    height: 400px
}

img {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1251px;
    top: 350px;

    background: url(profile.jpg);
    border: 5px solid rgba(255, 255, 255, 0.25);
}

.title {
    width: 25%;
    max-height: 150px;
    float: left;
    margin-top: 50px;
    margin-left: 8%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
}

.menu {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    vertical-align: middle;
    /* identical to box height */
    text-align: left;
}

.motto {
    float: left;
    margin-left: 8%;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    width:  50%
}

.subtitle {
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-left: 8%
}

ul {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
    /* background-color: rgba(177, 98, 65, 0.5); */
}
  
li {
    float: left;
    margin-left: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(177, 98, 65, 0.5);
    color: #C0C0C0
}

/* .active {
background-color: #C0C0C0;
} */
/* about-me section */
.about-me {
    text-align: center;
    width: 100%;
    height: 600px
}



