* {
    background-color:  rgb(5, 22, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-header {
    width: 100%;
    height: 0px
}

.second-header {
    width: 100%;
    height: 40%;
}

.border-div {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    padding-bottom: 40px;
    background-color: rgb(97, 193, 182);
}

.inside-div {
    background-color:  rgb(5, 22, 37);
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    color: white;
    box-align: center
}

h3 {
    margin-bottom: 10px;
    padding-bottom: 50px
}

p {
    padding-top: 50px;
}

h5 {
    margin-bottom: 0px;
    margin-top: 5px
}

#text-field {
    margin-top: 0px;
    margin-bottom: 5px;
    background-color: white ;
    width: 250px;
    height: 25px;
    display: inline-block
}

input[type=button] {
    background-color: orange;
    border: none;
    color: black;
    padding: 16px 16px;
    border-radius: 16px;
    font-size: 1.5em
  }

