h1 {
    font-family: 'Bungee Shade';
}

p {
    font-family: monospace;
}

body {
    font-size: 20px
}

p {
    font-size: 10px
}

#two {
    font-size: 2.0em
}

p {
    font-style: italic;
    font-weight: bold
}

h1 {
    text-align: center
}

